<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Translator</title>
    <link rel="stylesheet" type="text/css" href="/static/content/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer="" src="https://app.fastbots.ai/embed.js" data-bot-id="cluyrwhaa00ufrdb4ahbe86th"></script>
    <script src="https://kit.fontawesome.com/664e65e258.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div id="wrapper">
            <header id="header">
                <nav id="chat-bot-nav" class="chat-bot-nav">
                    <ul>
                        <li>
                            <a href="/"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;HOME</a>
                        </li>
                        <li>
                            <a href="dashboard"><i class="fa-solid fa-chalkboard"></i>&nbsp;&nbsp;Translator</a>
                        </li>
                        <li>
                            <a href="blackboard-temp"><i class="fa-solid fa-chalkboard"></i>&nbsp;&nbsp;Blackboard</a>
                        </li>
                        <li>
                            <a href="self-service-temp"><i class="fa-solid fa-file-circle-check"></i>&nbsp;&nbsp;Self-Service</a>
                        </li>
                        <li>
                            <a href="contact-temp"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Contact</a>
                        </li>
                        <li>
                            <a href="login">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="register">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Register
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="discover-link">
                                <i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discover
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="register" class="three-d">
                                        <i class="fa-solid fa-address-card"></i>&nbsp;&nbsp;Register
                                    </a>
                                </li>
                                <li>
                                    <a href="news-temp" class="three-d">
                                        <i class="fa-regular fa-newspaper"></i>&nbsp;&nbsp;News
                                    </a>
                                </li>
                                <li>
                                    <a href="events-temp" class="three-d">
                                        <i class="fa-regular fa-calendar-days"></i>&nbsp;&nbsp;Events
                                    </a>
                                </li>
                                <li>
                                    <a href="map-temp" class="three-d">
                                        <i class="fa-solid fa-map"></i>&nbsp;&nbsp;Map
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <div id="div-nav-top">
            <h2>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Welcome Student<a id="log-out" class="log-out" href="login"><i class="fa-solid fa-right-from-bracket"></i>Login</a></h2>
        </div>
        <div id="div-succ-reg">
            <p class="succ-reg-title">Blackboard Under Construction</p>
        </div>
        <div id="footer-bottom">
            <div class="div-left"><iframe class="video-frame-footer" src="https://www.youtube.com/embed/lvsx4pCL0Lk?si=fGOdi8uVl_uU3g8F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="div-right"></div>
            <div class="footer-video">
                <iframe class="video-frame-footer" src="https://www.youtube.com/embed/zT21i4OWZQE?si=2DyF901uUILIHbil" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="div-bottom-left"><iframe class="video-frame-footer" src="https://www.youtube.com/embed/Qr4QMBUPxWo?si=Htn4dS-3S11cdyse" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="footer-social-div">
                <ul class="social" style="list-style: none;">
                    <li class="facebook"><a href="https://developers.facebook.com/" title="Find us on Facebook" aria-label="Find us on Facebook"><span class="fa fa-facebook" aria-hidden="true"></span>&nbsp;&nbsp;<em class="fa-fa-title">Facebook</em></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/" title="Find us on Instagram" aria-label="Find us on Instagram"><span class="fa fa-instagram" aria-hidden="true"></span>&nbsp;&nbsp;<em class="fa-fa-title">Instagram</em></a></li>
                    <li class="twitter"><a href="https://twitter.com/" title="Find us on Twitter" aria-label="Find us on Twitter"><span class="fa fa-twitter" aria-hidden="true"></span>&nbsp;&nbsp;<em class="fa-fa-title">Twitter</em></a></li>
                    <li class="youtube"><a href="https://www.youtube.com/watch?v=Qr4QMBUPxWo" title="Find us on Youtube" aria-label="Find us on Youtube"><span class="fa fa-youtube" aria-hidden="true"></span>&nbsp;&nbsp;<em class="fa-fa-title">YouTube</em></a></li>
                    <li class="youtube"><a href="https://www.linkedin.com" title="Find us on LinkedIn" aria-label="Find us on LinkedIn"><span class="fa fa-linkedin" aria-hidden="true"></span>&nbsp;&nbsp;<em class="fa-fa-title">LinkedIn</em></a></li>
                </ul>
            </div>
            <div class="div-bottom-right"></div>
            <div class="copy-right-div">
                <h4 class="copyright">&copy;2024 | Orengo Web Creations |</h4>
            </div>
        </div>
    </main>
</body>
</html>

