<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link rel="stylesheet" type="text/css" href="/static/content/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer="" src="https://app.fastbots.ai/embed.js" data-bot-id="cluyrwhaa00ufrdb4ahbe86th"></script>
    <script src="https://kit.fontawesome.com/664e65e258.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div id="wrapper">
            <header id="header">
                <nav id="chat-bot-nav" class="chat-bot-nav">
                    <!--<button class="menu-toggle">☰</button>-->
                    <ul>

                        <li>
                            <a href="/"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;HOME</a>
                        </li>
                        <li>
                            <a href="https://faytechcc.blackboard.com/?new_loc=%2Fultra%2Fcourse"><i class="fa-solid fa-chalkboard"></i>&nbsp;&nbsp;Blackboard</a>
                        </li>
                        <li>
                            <a href="https://selfserv.faytechcc.edu/"><i class="fa-solid fa-file-circle-check"></i>&nbsp;&nbsp;Self-Service</a>
                        </li>
                        <li>
                            <a href="https://www.faytechcc.edu/contact/"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Contact</a>
                        </li>

                        <li>
                            <a href="dashboard">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Login
                            </a>
                        </li>
                        <li class="dropdown">
                            <!-- Added dropdown class to signify dropdown menu -->
                            <a href="#" class="discover-link">
                                <i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discover
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="three-d">
                                        <i class="fa-solid fa-table-columns"></i>&nbsp;&nbsp;Student Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="three-d">
                                        <i class="fa-solid fa-address-card"></i>&nbsp;&nbsp;Register
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.faytechcc.edu/"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;FTCC Home</a>
                                </li>
                                <li>
                                    <a href="https://www.faytechcc.edu/news/" class="three-d">
                                        <i class="fa-regular fa-newspaper"></i>&nbsp;&nbsp;News
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.faytechcc.edu/financial-aid/" class="three-d">
                                        <i class="fa-solid fa-landmark"></i>&nbsp;&nbsp;Financial Aid
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.faytechcc.edu/events/" class="three-d">
                                        <i class="fa-regular fa-calendar-days"></i>&nbsp;&nbsp;Events
                                    </a>
                                </li>
                                <li>
                                    <a href="https://map.faytechcc.edu/?id=2037#!ct/64989,64988,64235,63975,63968,64237,64238,64239,64240,64241,64242,64243,64244,64245,64221,64227,64229,64230,64231,64232,66570,66571?s/" class="three-d">
                                        <i class="fa-solid fa-map"></i>&nbsp;&nbsp;Map
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>

            </header>

        </div>
        <div id="div-nav-top">
            <h2>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Welcome Anthony<a id="log-out" class="log-out" href="dashboard"><i class="fa-solid fa-right-from-bracket"></i>Login</a></h2>
        </div>
        <div id="div-image-home">

        </div>

        <div id="footer-bottom">
            <div class="footer-social-links">
                <ul class="social">
                    <li class="facebook"><a href="https://www.facebook.com/FAYTECHCC" title="Find us on Facebook" aria-label="Find us on Facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/faytechcc/" title="Find us on Instagram" aria-label="Find us on Instagram"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                    <li class="twitter"><a href="https://twitter.com/FAYTECHCC" title="Find us on Twitter" aria-label="Find us on Twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                    <li class="youtube"><a href="https://www.youtube.com/user/faytechcc" title="Find us on Youtube" aria-label="Find us on Youtube"><span class="fa fa-youtube" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
