<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Python Course</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="static/css/chapter_nav.css" rel="stylesheet" type="text/css" />
    <link href="static/css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="static/css/footer-bottom.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/664e65e258.js" crossorigin="anonymous"></script>
</head>

<body>

    <button class="openbtn" onclick="openNav()">Menu ☰</button>

    <div id="mySidenav" class="sidenav">
        <a href="login" class="login-link">Login</a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close X</a>
        <a href="#about"><img src="static/css/images/ftcc-small.png" alt="FTCC" width="auto" height="41" class="img-responsive ftcc-center" vspace="5"></a>
        <a href="#about">About FTCC</a>
        <a href="#academics">Academics</a>
        <a href="#education">Continuing Education</a>
        <a href="#campus-life">Campus Life</a>
        <a href="#current-students">Current Students</a>
        <a href="#faculty-staff">Faculty & Staff</a>
        <a href="#financial-aid">Financial Aid</a>
        <a href="#giving">Giving</a>
        <a href="#military-veterans">Military & Veterans</a>
    </div>

    <div class="top-nav">
        <img src="static/css/images/ftcc-longoutlines-sm.png" alt="FTCC" class="img-responsive-ftcc-center" vspace="5">

        <div class="header-main-div">
            <div class="header-main-div-img">

                <h1 class="main-header-title" style="color:#000;">Course CSC 121 - Introduction to Python</h1>
            </div>
        </div>
    </div>
    <button class="chapt-btn" onclick="openChapt()">Chapters ☰</button>

    <div class="intro-div"></div>
    <div id="mySideChaptnav" class="chapternav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeChapt()">Close X</a>
        <a href="index.html"><img src="static/css/images/ftcc-small.png" alt="Python CSC-121" width="auto" height="41" class="img-responsive ftcc-center" vspace="5"></a>
        <button id="chapter_1_btn" class="chapter-btn" onclick="chapterOneLessonDropdown()">Chapter 1</button>
        <div id="chapter-1-div" class="chapter-1-div">
            <a href="python-course-1-1">Chapter 1.1</a>
            <a href="python-course-1-2">Chapter 1.2</a>
            <a href="python-course-1-3">Chapter 1.3</a>
        </div>
        <button id="chapter_2_btn" class="chapter-btn" onclick="chapterTwoLessonDropdown()">Chapter 2</button>
        <div id="chapter-2-div" class="chapter-2-div">
            <a href="python-course-2-1">Chapter 2.1</a>
            <a href="python-course-2-1">Chapter 2.2</a>
            <a href="python-course-2-1">Chapter 2.3</a>
        </div>
        <button id="chapter_3_btn" class="chapter-btn" onclick="chapterThreeLessonDropdown()">Chapter 3</button>
        <div id="chapter-3-div" class="chapter-3-div">
            <a href="python-course-3-1">Chapter 3.1</a>
            <a href="python-course-3-1">Chapter 3.2</a>
            <a href="python-course-3-1">Chapter 3.3</a>
        </div>
        <button id="chapter_4_btn" class="chapter-btn" onclick="chapterFourLessonDropdown()">Chapter 4</button>
        <div id="chapter-4-div" class="chapter-4-div">
            <a href="python-course-4-1">Chapter 4.1</a>
            <a href="python-course-4-1">Chapter 4.2</a>
            <a href="python-course-4-1">Chapter 4.3</a>
        </div>
        <button id="chapter_5_btn" class="chapter-btn" onclick="chapterFiveLessonDropdown()">Chapter 5</button>
        <div id="chapter-5-div" class="chapter-5-div">
            <a href="python-course-5-1">Chapter 5.1</a>
            <a href="python-course-5-1">Chapter 5.2</a>
            <a href="python-course-5-1">Chapter 5.3</a>
        </div>
        <button id="chapter_index_btn" class="chapter-btn" onclick="chapterIndexLessonDropdown()">Index</button>
        <div id="chapter-index-div" class="chapter-index-div">
            <a href="python-course-index-1">Index 1</a>
            <a href="python-course-index-2">Index 2</a>
            <a href="python-course-index-3">Index 3</a>
        </div>
    </div><br />

    <div id="main-image-div" class="main-image-div">
        <img class="image-logo-python" src="static/css/images/ftcc_python_logo.png" alt="Italian Trulli">
    </div>
    <footer id="footer-bottom" class="footer-bottom">
        <h2 style="text-align:center">Fayetteville Technical Community College</h2>
        <div class="footer-div-1">
            <div class="footer-div-1-img">

            </div>
            <div class="footer-div-1-address">
                <p class="eo-title-block"><a style="color: #f1b825" href="https://www.faytechcc.edu/title-ix-equal-opportunity/">Title IX &amp; Equal Opportunity</a></p>
                <p class="address-title-block">
                    2201 Hull Rd, Fayetteville, NC 28303<br>
                    <a class="address-title-block-a" style="color: #f1b825" href="tel:+19103028185">(910) 302-8185</a>
                </p>
            </div>

        </div>
        <div class="footer-div-2">
            <h4>Resources</h4>
            <hr />
            <ul>
                <li><a href="https://25live.collegenet.com/pro/faytechcc#!/home/dash">25 Live</a></li>
                <li><a href="https://www.faytechcc.edu/campus-life/accessibility/">Accessibility</a></li>
                <li><a href="https://faytechcc.blackboard.com/">Blackboard</a></li>
                <li><a href="https://bookstore.faytechcc.edu/">Bookstore</a></li>
                <li><a href="https://forms.faytechcc.edu/directory-search/">Campus Directory</a></li>
                <li><a href="https://faytechcc.studentforms.com/">CampusLogic Forms</a></li>
                <li><a href="https://etcentral.faytechcc.edu">Financial Aid eForms</a></li>
                <li><a href="https://faytechcc.get-counseling.com">GetSAP Progress Center</a></li>
                <li><a href="https://www.faytechcc.edu/giving/give-now/">Give Now</a></li>
                <li><a href="https://www.faytechcc.edu/campus-life/library/">Library</a></li>
                <li><a href="https://www.faytechcc.edu/mis/">IT Support</a></li>
                <li><a href="http://www.ncmbc.us/">NC Military Business Center</a></li>
                <li><a href="https://www.faytechcc.edu/campus-offices-public-safety-security/">Public Safety &amp; Security</a></li>
                <li><a href="https://selfserv.faytechcc.edu/Student">Self-Service</a></li>
                <li><a href="https://www.faytechcc.edu/faculty-staff/center-for-faculty-development/simple-syllabus/">Simple Syllabus</a></li>
                <li><a href="http://mail.student.faytechcc.edu/">Student Email</a></li>
                <li><a href="https://www.faytechcc.edu/campus-life/academic-resources/student-learning-center/">Student Learning Center</a></li>
                <li><a href="https://www.publicservicedegrees.org/financial-aid/scholarships/students-with-disabilities/">Scholarships and Resources for Students with Disabilities</a></li>
                <li><a href="https://webadvisor.faytechcc.edu/">WebAdvisor – Continuing Ed Students only</a></li>
            </ul>

        </div>
        <div class="footer-div-3">
            <h4>Campus Maps</h4>
            <hr />
            <ul>
                <li><a href="https://map.faytechcc.edu/">FTCC Interactive Map</a></li>
                <li><a href="https://www.faytechcc.edu/contact/fayetteville-campus/">FTCC Campus</a></li>
                <li><a href="https://www.faytechcc.edu/campus-maps/#profile">Campus Profile</a></li>
                <li><a href="https://www.faytechcc.edu/contact/santa-fe-center/">Collision Repair Center</a></li>
                <li><a href="https://www.faytechcc.edu/campus-life/community-resources/">Community Resources</a></li>
                <li><a href="https://www.faytechcc.edu/contact/fort-liberty-center/">Fort Liberty Center</a></li>
                <li><a href="https://www.faytechcc.edu/contact/ftcc-education-center/">FTCC’s Education Center</a></li>
                <li><a href="https://www.faytechcc.edu/contact/horticulture-education-center/">Horticulture Education Center</a></li>
                <li><a href="https://www.faytechcc.edu/contact/spring-lake-campus-map/">Spring Lake Campus Map</a></li>
            </ul>

        </div>
        <div class="footer-div-4">
            <h4>Other</h4>
            <hr />
            <ul>
                <li><a href="https://www.faytechcc.edu/campus-offices/">Campus Offices</a></li>
                <li><a href="https://faytechcc.emsicc.com/">Career Coach</a></li>
                <li><a target="_blank" rel="noopener" href="https://www.carolinacybernetwork.net/">Carolina Cyber Network</a></li>
                <li><a href="https://www.faytechcc.edu/contact/">Contact Us</a></li>
                <li><a href="https://faytechcc.peopleadmin.com/">Employment Opportunities</a></li>
                <li><a href="https://www.faytechcc.edu/campus-offices/business-finance-office/employee-benefits/">Employee Benefits</a></li>
                <li><a href="https://www.faytechcc.edu/campus-offices/office-human-resources/complaint-resolution-process/">Student Complaints</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="https://www.faytechcc.edu/campus-life/fitness-center/">Fitness Center</a></li>
                <li><a href="https://www.auditor.nc.gov/media/4061/open">FTCC’s Audit Report</a></li>
                <li><a href="https://www.faytechcc.edu/blog/">In the Spotlight</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="https://www.faytechcc.edu/mis/self-service-password-reset/">Password Reset</a></li>
                <li><a href="https://www.faytechcc.edu/privacy-policy/">Privacy Policy</a></li>
                <li><a href="https://www.faytechcc.edu/about-ftcc/more-about-ftcc-2/sacscoc-accreditation/">SACSCOC Accreditation</a></li>
                <li><a href="https://www2.faytechcc.edu/mis/FTCC_Student_MFA_Directions.pdf">Student MFA Directions</a></li>
                <li><a href="https://embed-forms.451.io/?formId=faytechcc.forms.4402&amp;apiUrl=https%3A%2F%2Ffaytechcc.api.451.io%2Fv2%2F&amp;accessToken=LKLTmF4BOo97k1W3AJHyetxlnHcYEa5NkiNcYjzO&amp;featureToken=GDuHdhqsBEIYwaqex8W3nuknfwW0uMwbcHEWvUrU&amp;analyticsToken=CFYwLykcZd1HyMsF4XS13lp0nkpCI7ZK6eJaHocr&amp;sourceUrl=%27+encodeURIComponent(window.location.href)+%27">Text Alerts</a></li>
                <li><a href="https://www.faytechcc.edu/title-ix-equal-opportunity/">Title IX &amp; Equal Opportunity</a></li>
                <li><a href="https://www.faytechcc.edu/transcripts/">Transcripts</a></li>
            </ul>

        </div>

    </footer>

    <div id="footer-bottom-2" class="footer-bottom-2">
        <h4 style="text-align:center;">Copyright © 2024 Fayetteville Technical Community College. All rights reserved.</h4>
        <div class="footer-div-5">

            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com/FAYTECHCC" title="Find us on Facebook" aria-label="Find us on Facebook"><span aria-hidden="true" class="fab fa-facebook-f"></span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/faytechcc/" title="Find us on Instagram" aria-label="Find us on Instagram"><span aria-hidden="true" class="fab fa-instagram"></span></a>
                </li>
                <li>
                    <a href="https://twitter.com/FAYTECHCC" title="Find us on Twitter" aria-label="Find us on Twitter"><span aria-hidden="true" class="fab fa-twitter"></span></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/faytechcc" title="Find us on Youtube" aria-label="Find us on Youtube"><span aria-hidden="true" class="fab fa-youtube"></span></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/school/89932/" title="Find us on Linkedin" aria-label="Find us on Linkedin"><span aria-hidden="true" class="fab fa-linkedin-in"></span></a>
                </li>
            </ul>

            <!-- Add this line in your HTML head or before the closing body tag -->
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        </div>
    </div>

    <script src="static/js/lessons.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/lesson_chapter_dropdown.js"></script>


</body>

</html>
